src/resources/Advertisement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="Billboard.xsd"/>
    <xs:complexType name="Advertisement">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="billboardList" type="Billboard" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>