src/resources/Billboard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="Advertisement.xsd"/>
    <xs:element name="Billboard" type="Billboard"/>
    <xs:complexType name="Billboard">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="adres" type="xs:string"/>
            <xs:element name="ad" type="Advertisement"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>