src/resources/Client.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Client">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="imie" type="xs:string"/>
            <xs:element name="nazwisko" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>