src/resources/Invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Invoive">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="amount" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>