src/resources/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Order">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="id_client" type="xs:int"/>
            <xs:element name="id_invoice" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>